<h1> App header </h1>

<a routerLink ="home" routerLinkActive='activeLink'> Home </a>
<a routerLink ="app2" routerLinkActive='activeLink'> App 2 </a>

<em> Below links will help us to load componnts from server</em>

<a routerLink ="lazy" routerLinkActive='activeLink'> lazy </a>
<a routerLink ="lazy/comp1" routerLinkActive='activeLink'> lazy => Component 1 </a>
<a routerLink ="lazy/comp2" routerLinkActive='activeLink'> lazy => Component 2 </a>


<router-outlet></router-outlet>

<h1> App footer </h1>
